@import "./var";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $c;
  font-size: 14px;
}

body {
  position: relative;
}

section#beranda {
  padding-top: 80px;

  p,
  b {
    font-size: 16px;
  }
}

section.content {
  padding-top: 80px;
}

section#testing {
  padding-bottom: 100px;
}

.navbar {
  padding: 15px 17px 15px 17px;
  background: #fff;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  ;
  font-weight: 800;
  color: $b !important;
}

.footer-navbar-brand {
  font-family: 'Montserrat', sans-serif;
  ;
  font-weight: 800;
  font-size: 18px;
  color: $d !important;
}

.navbar-nav {
  .nav-item>.active {
    font-weight: 600;
    color: $c !important;
  }
}

.judul {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
}

.sub-judul {
  font-weight: 600;
  font-size: 16px;
}

.small {
  padding-top: 1px;
  font-weight: 300;
}

.caption {
  font-family: 'Montserrat';
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 30px;
  font-weight: 700;
  line-height: 38px;
}

.institusi {
  margin-top: 30px;
  line-height: 26px;
}

.card {
  height: 300px;
}

.bolded {
  font-weight: 600;
}

.testkosong,
.trainkosong {
  height: 280px;
}

.icon {
  float: left;
  margin-right: 20px;
}

form {
  font-size: 12px;

  label {
    font-weight: 400;
  }

  .form-control {
    font-size: 12px;
    color: $c;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: $c;
    color: $c;
    font-size: 12px;
  }
}

//! Button
button:focus {
  outline: none;
}

.bt {
  outline: none;
  border: none;
  padding: 8px 18px 8px 18px;
  font-weight: 400;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0;
  }
}

.bt-primary {
  background: $a;
  color: $d;

  .material-icons {
    color: $d;
  }

  &:hover {
    transition: 0.2s all;
    background-color: $b;
  }

  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
}

.bt-secondary {
  background: $d;
  color: $c;

  &:hover {
    transition: 0.2s all;
    background-color: #ddd;
  }

  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
}

a.bt-primary-lg {
  text-decoration: none;
  padding: 16px 28px 15px 28px;
  background-color: $a;
  color: $d;
  font-weight: 400;
  border-radius: 5px;
  font-size: 16px;

  &:hover {
    transition: 0.2s all;
    background-color: $b;
  }

  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
}

.material-icons {
  font-size: 20px;
  float: left;
  padding: 0px 5px 0px 0px;
}

#nav-tab {
  a {
    color: grey;
  }

  .active {
    color: $c;
    font-weight: 500;
  }

  .disabled {
    cursor: not-allowed;
  }
}

.hasil-training {
  padding-bottom: 600px;
}

table {
  font-family: 'merriweather';
}

.info-training {
  margin: 0px;
  padding: Opx;

  .label-info-training {
    font-size: 14px;
    font-weight: 400;
  }

  .skor {
    font-weight: 600;
    font-size: 20px;
    color: $a;
  }
}


footer {


  margin: 50px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  background: $b;

  p {
    color: $d !important;
  }

  p.text-usu {
    margin-left: 65px;
    padding: 15px 0px 0px 0px;
    font-weight: 600;
    font-size: 16px;
  }

  p.footer-name {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

//?Spinner
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 8px;
  border: 8px solid $b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $b transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner,
#test_spinner {
  margin-top: 100px;
}

//?End Spinner