* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #124408;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

section#beranda {
  position: relative;
  background: url(../img/web/bg.jpg);
  height: 750px;
  display: inline-block;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 50px;
}

section#beranda p,
section#beranda b {
  color: #b0f0c6;
  font-size: 16px;
}

section.content {
  padding-top: 80px;
}

section#testing {
  padding-bottom: 100px;
}

.navbar {
  padding: 15px 17px 15px 17px;
  background: rgb(255, 255, 255);
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #014e15 !important;
}

.footer-navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #EFF0F6 !important;
}

.navbar-nav .nav-item>.active {
  font-weight: 600;
  color: #1F2538 !important;
}

.judul {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.sub-judul {
  font-weight: 600;
  font-size: 16px;
}

.small {
  padding-top: 1px;
  font-weight: 300;
}

.caption {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 30px;
  font-weight: 700;
  line-height: 38px;
  color:#b0f0c6;
}

.institusi {
  margin-top: 30px;
  line-height: 26px;
  color: #b0f0c6;
}

.card {
  height: 300px;
}

.bolded {
  font-weight: 600;
}

.testkosong,
.trainkosong {
  height: 280px;
}

.icon {
  float: left;
  margin-right: 20px;
}

form {
  font-size: 12px;
}

form label {
  font-weight: 400;
}

form .form-control {
  font-size: 12px;
  color: #1F2538;
}

form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #1F2538;
  color: #1F2538;
  font-size: 12px;
}

button:focus {
  outline: none;
}

.bt {
  outline: none;
  border: none;
  padding: 8px 18px 8px 18px;
  font-weight: 400;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.bt:focus {
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.bt-primary {
  background: #035729;
  color: #EFF0F6;
}

.bt-primary .material-icons {
  color: #EFF0F6;
}

.bt-primary:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #187a3e;
}

.bt-primary:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.bt-secondary {
  background: #EFF0F6;
  color: #1F2538;
}

.bt-secondary:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #ddd;
}

.bt-secondary:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

a.bt-primary-lg {
  text-decoration: none;
  padding: 16px 28px 15px 28px;
  background-color: #2a966c;
  color: #EFF0F6;
  font-weight: 400;
  border-radius: 5px;
  font-size: 16px;
}

a.bt-primary-lg:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #08724f;
}

a.bt-primary-lg:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.material-icons {
  font-size: 20px;
  float: left;
  padding: 0px 5px 0px 0px;
}

#nav-tab a {
  color: grey;
}

#nav-tab .active {
  color: #1F2538;
  font-weight: 500;
}

#nav-tab .disabled {
  cursor: not-allowed;
}

.hasil-training {
  padding-bottom: 600px;
}

table {
  font-family: 'merriweather';
}

.info-training {
  margin: 0px;
  padding: Opx;
}

.info-training .label-info-training {
  font-size: 14px;
  font-weight: 400;
}

.info-training .skor {
  font-weight: 600;
  font-size: 20px;
  color: #567112;
}

footer {
  margin: 50px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  background: #395701;
}

footer p {
  color: #EFF0F6 !important;
}

footer p.text-usu {
  margin-left: 65px;
  padding: 15px 0px 0px 0px;
  font-weight: 600;
  font-size: 16px;
}

footer p.footer-name {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 20%;
  background: rgb(5, 122, 44);
  animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


#spinner,
#test_spinner {
  margin-top: 100px;
}

/*# sourceMappingURL=custom.css.map */